body 		{
			background-color: #baa1ce;
}

.header	{
			display: inline-block;
			position: fixed;
			margin-top: 20px;
			margin-left: 0px;
			margin-right: 300px;
			margin-bottom: 100px;
}

h1	{		
			display: inline-block;
			font-family: Arial;
			color: white;
			margin-left: 5%;
			font-size: 32px;
}

h2 {		
			display: inline-block;
			font-family: Arial;
			color: white;
			margin-left: 5%;
			text-decoration: none;
			font-size: 28px;
}

a {
	text-decoration: none;
}
	
.link:hover {
   text-decoration: underline;}


.container {
			display: grid;
			position: relative;
			grid-gap: 3em;
			grid-template-columns: 1fr;
			margin-bottom: 5px;
			margin-left: 250px;
			margin-right:100px;
			float: left;
			}

.img {
			position: relative;
			float: left;
			width: 300px;
			height: 300px;				
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-size: cover;
			border: 2px solid;
}

.overlay {
			  position: relative;
			  top: 0;
			  bottom: 0;
			  left: 0;
			  right: 0;
			  height: 100%;
			  width: 100%;
			  opacity: 0;
			  transition: .5s ease;
			  background-color: #000000;
}

.container:hover .overlay {
  				opacity: 1;
}

.text {
			  color: white;
			  font-size: 20px;
			  position: absolute;
			  top: 50%;
			  left: 50%;
			  -webkit-transform: translate(-50%, -50%);
			  -ms-transform: translate(-50%, -50%);
			  transform: translate(-50%, -50%);
			  text-align: center;
}

@media only screen and (min-width: 425px) {


.container	{
			display: grid;
			position: relative;
			grid-gap: 1em;
			grid-template-columns: 1fr 1fr 1fr;
			margin-top: 150px;
			float: left;
			grid-auto-rows: minmax(100px, auto);
			}

.container img {
			border: 1px solid #000000;
			}

		}